<center>

<table>

	<tr>
		<td><center>
		<img src="/assets/images/db.png" width="300" height="400" title="Bitcoin" />
				<p>BTC Address:</p>
				<p id="BitcoinPubKey"> 1MA6F1bTwaNNLUHwJ24HD7QLCMz8mLargv</p>
				<center><button onclick="copyToClipboard('#BitcoinPubKey')">Copy BTC Key</button>
		</center></td>

		<td><center>
		<img src="/assets/images/cashappqr.png" width="300" height="400" title="Cash App" />
				<p id="cashapp"> $KingDTheMC</p>
				<button onclick="copyToClipboard('#cashapp')">Copy $KingDTheMC</button>
		</center></td>

		<td><center>
		<img src="/assets/images/pp_my_qrcode.jpg" width="300" height="400" title="Paypal" />
				<p id="paypal"> paypal.me/kingdthemc</p>
				<button onclick="copyToClipboard('#paypal')">Copy .me/kingdthemc</button>
		</center></td>

		<td><center>
		<img src="/assets/images/de.png" width="300" height="400" title="Ethereum" />
				<p>ETH Address:</p>
				<p id="EthereumPubKey"> 0xbdE021f7E0Ee2969eDa2647FfC45C74d5b97F3c6</p>
				<button onclick="copyToClipboard('#EthereumPubKey')">Copy ETH Key</button>
		</center></td>

	</tr>

	<tr>
		<td><center>
		<img src="/assets/images/dbc.png" width="300" height="400" title="Bitcoin Cash" />
				<p>Bitcoin Cash Address:</p>
				<p id="BitcoinCashPubKey"> 1A6x22SbrnK9UYm2hDoBguTP36DGqhaKkh</p>
				<button onclick="copyToClipboard('#BitcoinCashPubKey')">Copy BCH Key</button>
		</center></td>

		<td><center>
		<img src="/assets/images/dl.png" width="300" height="400" title="Litecoin" />
				<p>LTC Address:</p>
				<p id="LitecoinPubKey"> LMZcqvjJUqtBcALybDwbgF19P7efiQoPqm</p>
				<button onclick="copyToClipboard('#LitecoinPubKey')">Copy LTC Key</button>
		</center></td>

		<td><center>
		<img src="/assets/images/dd.png" width="300" height="400" title="Dash" />
				<p>DASH Address:</p>
				<p id="DashPubKey"> Xhw2Dx49ayKCfNGyCDCEErmZUyPvnETfNm</p>
				<button onclick="copyToClipboard('#DashPubKey')">Copy Dash Key</button>
		</center></td>

		<td><center>
		<img src="/assets/images/dec.png" width="300" height="400" title="Ethereum Classic" />
				<p>ETC Address:</p>
				<p id=EtcPubKey"> 0xd7444a276575918F31042d2E74A828108D64B39C</p>
				<button onclick="copyToClipboard('#EtcPubKey')">Copy ETC Key</button>

		</center></td>

	</tr>

</table>

</center>
