<center><h1>Payment Options</h1></center>


<table>

	<tr>
		<td>
	<a href="https://imgur.com/574B2l2"><img src="https:/i.imgur.com/574B2l2.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

		<td>
	<img src="/assets/images/cashappqr.png" width="300" height="400"  />
		</td>

		<td>
	<img src="/assets/images/pp_my_qrcode.jpg" width="300" height="400"  />
		</td>

		<td>
	<a href="https://imgur.com/ndW5aGs"><img src="https:/i.imgur.com/ndW5aGs.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

	</tr>

	<tr>
		<td>
	<a href="https://imgur.com/574B2l2"><img src="https:/i.imgur.com/574B2l2.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

		<td>
	<a href="https://imgur.com/Phe6KrU"><img src="https:/i.imgur.com/Phe6KrU.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

		<td>
	<a href="https://imgur.com/NEJ2hx2"><img src="https:/i.imgur.com/NEJ2hx2.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

		<td>
	<a href="https://imgur.com/ndW5aGs"><img src="https:/i.imgur.com/ndW5aGs.png" width="300" height="400" title="source: imgur.com" /></a>
		</td>

	</tr>

</table>
