<!--h7>Follow</h7-->

<ul class="social-media">

<!--
    {% if site.social.github %}
        <li><a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </li>
    {% endif %}

{% if site.social.stackoverflow %}
    <li><a title="{{ site.social.stackoverflow }} on StackOverflow" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" target="_blank"><i class="fab fa-stack-overflow fa-2x"></i></a>
    </li>
{% endif %}

-->

 {% if site.instagram %}
    <li>
      <a title="{{ site.instagram }} on Instagram" href="https://instagram.com/{{ site.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </li>
{% endif %}

{% if site.twitter %}
    <li><a title="{{ site.twitter }} on Twitter" href="https://twitter.com/{{ site.twitter }}" class="fa fa-twitter" target="_blank"></a>
    </li>
{% endif %}

</ul>


