/*
Mainttained by: David M. Coats
Last edited: 09/03/19  DD/MM/YY
Page: King D The MC homepage
CSS
**/

/**CSS FOR THE TOP NAVIGATION BEGINS**/

#Top_navi {
	/*text-align:center;*/

}

#Top_navi p {
	text-align:left;

}

#Top_navi ul {
	font-size: 16px;
	text-align:right;
}


#Top_navi ul li {
	display:inline-block;

}


/**CSS FOR THE TOP NAVIGATION ENDS**/
/** *CSS FOR THE NIGHT MODE TOGGLE BUTTON BEGINS**/

  :root {
    --bg: #ffffff;
    --text: #111111; 
    --border: #dddddd;
  }
/**Night theme values**/
  [data-theme="dark"] {
    --bg: #0f1115;
    --text: #e9edf2;
    --border: rgba(255,255,255,.16);/**#2a2f3a;**/
  }

  body, navbar-nav, i, #Top_navi, #themeToggle {
    background: var(--bg);
    color: var(--text);
  }
/* Header/lightbulb button styling*/
#themeToggle{
	  padding: 0 !important;
	  width: 36px;
	  height: 36px;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;

	  border: 1px solid var(--border);
	  border-radius: 999px;
	  background: transparent;

	  color: var(--text);
	  cursor: pointer;
}

#themeToggle i{
	font-size: 16px;
	line-height: 1;
}


#themeToggle:hover{
	background: rgba(127,127,127,.12)
}
[data-theme="dark"] #themeToggle:hover{
	background: rgba(255,255,255,.06);
	color: rgba(233,237,242,.90);
}

/**CSS FOR THE NIGHT MODE TOGGLE BUTTON ENDS
 **/

/**

CSS FOR THE FOOTER BEGINS

**/

footer {
  margin: 75px 0 35px;
}


/**

CSS FOR THE FOOTER ENDS

**/


/**

CSS FOR THE SOCIAL MEDIA BUTTONS BEGINS

**/

.social-media {

  text-align: center;

}

.social-media li {

	display:inline-block;
	list-style-type:none;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-twitch {
  background: #6441a4;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

/**

CSS FOR THE SOCIAL MEDIA BUTTONS END

**/
		
