---
layout: page
---
<center>
<article class="shoppro">

	{% if page.picture %}
		<img src="{{ page.picture }}" width="420" height="480" alt="Photo title {{ page.title | downcase }}">
	{% endif %}

	<h1>Shop: {{ page.title }}</h1>

	<div class="shoppro-shirt {{ page.shirt | downcase }}">
		{{ page.shirt }}
	</div>

	<div class="shoppro-print {{ page.print | downcase }}">
		{{ page.print }}
	</div>
		
	<div class="shoppro-price {{ page.price | downcase }}">
		{{ page.price }}
	</div>

	<div>
		{{ content }}
	</div>

	<center><h1>Payment Options</h1></center>

	<div>
		{% include paytemp.html %}
	</div>


</article>
</center>


